# Binaries
/testapp
/cursorapp
/dbtest
/datagrid-validator
bin/

# Environment Files (Strict Protection)
.env*
**/.env*
!**/*.gpg

# Environment Templates (Vault-Protected)
opt/**
!opt/**/
!*.gpg

# Go
vendor/
go.sum
