<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="icon-library" content="{{.IconStyleLibrary}}">
    <title>{{.Title}}</title>
    {{if eq $.IconStyleLibrary "Phosphor"}}
    <link rel="stylesheet" href="/static/vendor/phosphor/regular/style.css">
    {{else}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    {{end}}
    <link rel="stylesheet" href="/static/css/datagrid.css">
    <link rel="stylesheet" href="/static/css/pivot.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script>
        (function () {
            const theme = localStorage.getItem('dg_theme') || 'light';
            document.documentElement.setAttribute('data-theme', theme);
        })();
    </script>
</head>

<body class="dg-page-body">
    {{template "header" .}}


    <main class="dg-main-content">
        <div class="dg-card-container">
            {{template "datagrid_wrapper" .}}
        </div>
    </main>

    {{template "footer" .}}


    <script src="/static/js/modules/settings.js"></script>
    <script src="/static/js/modules/grid.js"></script>
    <script src="/static/js/modules/filters.js"></script>
    <script src="/static/js/modules/detail.js"></script>
    <script src="/static/js/modules/core.js"></script>
    <script src="/static/js/pivot.js"></script>

    <script>
        // Set context for settings
        window.datagridResource = 'personnel_demo';
    </script>

</body>

</html>