{{ range $idx, $lov := .LOVs }}
{{ if eq $idx 0 }}WITH {{ else }}, {{ end }}lov{{ add $idx 1 }} AS (
    SELECT 
        {{ if $lov.IsBoolean }}(elem->'code')::boolean{{ else if $lov.IsNumber }}(elem->'code')::numeric{{ else }}(elem->>'code')::text{{ end }} as code, 
        (elem->>'label')::text as label 
    FROM jsonb_array_elements(COALESCE(($1 #> '{lovs,{{ $idx }},values}'), '[]'::jsonb)) elem
)
{{ end }}
SELECT 
    {{ range $i, $col := .Columns }}{{ if $i }}, {{ end }}{{ $col.Name }} AS {{ quote_ident $col.Alias }}{{ end }}
FROM {{ quote_ident .TableName }} AS src
{{ range $idx, $lov := .LOVs }}
{{ coalesce $lov.Join "LEFT" }} JOIN lov{{ add $idx 1 }} ON src.{{ quote_ident $lov.Column }} = lov{{ add $idx 1 }}.code
{{ end }}
WHERE true
{{ range $f := .Filters }}
{{ if $f.IsArray }}
AND src.{{ quote_ident $f.Column }} IN (SELECT value{{ if $f.IsBoolean }}::boolean{{ else if $f.IsNumber }}::numeric{{ end }} FROM jsonb_array_elements_text(COALESCE(($1 #> '{filters,{{ $f.Column }}}'), '[]'::jsonb)))
{{ else }}
AND src.{{ quote_ident $f.Column }} = COALESCE(($1 #>> '{filters,{{ $f.Column }},0}'), ''{{ if $f.IsBoolean }}'false'{{ else if $f.IsNumber }}'0'{{ end }}){{ if $f.IsBoolean }}::boolean{{ else if $f.IsNumber }}::numeric{{ end }}
{{ end }}
{{ end }}
{{ if .Order }} {{ .Order }}{{ end }}
{{ if .Limit }} LIMIT {{ .Limit }} {{ end }}
{{ if .Offset }} OFFSET {{ .Offset }} {{ end }}
