SELECT 
    {{ range $i, $col := .Columns }}{{ if $i }}, {{ end }}{{ $col.Name }} AS {{ quote_ident $col.Alias }}{{ end }}
FROM {{ quote_ident .TableName }} AS src
WHERE true
{{ range $idx, $lov := .LOVs }}
AND src.{{ quote_ident $lov.Column }} = ANY(($1 #> '{lovs,{{ $idx }},values}')::{{ if $lov.IsBoolean }}boolean[]{{ else if $lov.IsNumber }}numeric[]{{ else }}text[]{{ end }})
{{ end }}
{{ range $f := .Filters }}
{{ if $f.IsArray }}
AND src.{{ quote_ident $f.Column }} = ANY(($1 #> '{filters,{{ $f.Column }}}')::{{ if $f.IsBoolean }}boolean[]{{ else if $f.IsNumber }}numeric[]{{ else }}text[]{{ end }})
{{ else if $f.IsNumber }}
AND src.{{ quote_ident $f.Column }} = ($1 #># '{filters,{{ $f.Column }},0}')
{{ else if $f.IsBoolean }}
AND src.{{ quote_ident $f.Column }} = ($1 #>& '{filters,{{ $f.Column }},0}')
{{ else }}
AND src.{{ quote_ident $f.Column }} = ($1 #>> '{filters,{{ $f.Column }},0}')
{{ end }}
{{ end }}
{{ if .Order }} {{ .Order }}{{ end }}
{{ if .Limit }} LIMIT {{ .Limit }} {{ end }}
{{ if .Offset }} OFFSET {{ .Offset }} {{ end }}
