SELECT 
    {{ range $i, $dim := .Dimensions }}{{ if $i }}, {{ end }}{{ $dim.Source }} AS {{ quote_ident $dim.Column }}{{ end }},
    {{ range $i, $m := .Measures }}{{ if $i }}, {{ end }}{{ $m.Func }}(src.{{ quote_ident $m.Column }}) AS {{ quote_ident $m.Alias }}{{ end }}
FROM {{ quote_ident .TableName }} AS src
WHERE true
{{ range $idx, $lov := .LOVs }}
AND src.{{ quote_ident $lov.Column }} = ANY(($1 #> '{lovs,{{ $idx }},values}')::{{ if $lov.IsBoolean }}boolean[]{{ else if $lov.IsNumber }}numeric[]{{ else }}text[]{{ end }})
{{ end }}
{{ range $f := .Filters }}
{{ if $f.IsArray }}
AND src.{{ quote_ident $f.Column }} = ANY(($1 #> '{filters,{{ $f.Column }}}')::{{ if $f.IsBoolean }}boolean[]{{ else if $f.IsNumber }}numeric[]{{ else }}text[]{{ end }})
{{ else if $f.IsNumber }}
AND src.{{ quote_ident $f.Column }} = ($1 #># '{filters,{{ $f.Column }},0}')
{{ else if $f.IsBoolean }}
AND src.{{ quote_ident $f.Column }} = ($1 #>& '{filters,{{ $f.Column }},0}')
{{ else }}
AND src.{{ quote_ident $f.Column }} = ($1 #>> '{filters,{{ $f.Column }},0}')
{{ end }}
{{ end }}
GROUP BY {{ range $i, $dim := .Dimensions }}{{ if $i }}, {{ end }}{{ $dim.Source }}{{ end }}
